:root {
  --primary-color: #3d3a38;
  --secondary-color: #04df6c;
  --tertiary_color: #2e45cc;

  --navbar-heigth: 112px;
}

body * {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.24;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.5;
}

/* .navbar {
  height: var(--navbar-heigth);
} */

.navbar .nav-link.active {
  color: var(--tertiary_color);
}

#banner-image {
  min-height: 500px;
}

#separator {
  height: var(--navbar-heigth);
  display: none;
}

.header-title-space {
  background-image: url("../assets/img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#header-btn {
  border-radius: 0%;
}

footer {
  text-align: center;
}

footer svg {
  border: 2px solid gray;
  padding: 2px;
  border-radius: 2500rem;
}

footer svg use {
  color: var(--secondary-color);
}

@media (min-width: 1400px) {
  /* Regole valide da 1400px in su */

  .header-title-space h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  #separator {
    display: block;
  }

  .w-xxl-75 {
    width: 75% !important;
  }
}
